
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: #00151c;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a:hover {
    color: #337ab7;
}
.top-header {
    background-color: black;
}
.left-section {
    position: relative;
    height: 100%;
    background-color: #004863;
}
.z-show {
    z-index: 100;
}
.menu-fix {
    position: absolute;
    height: 100%;
    background-color: #00151c;
    top: 0;
    left: 0;
    color: #fff;
}
.menu li {
    padding: 20px;
}
.menu li.active {
    background-color: #004863;
}
.menu li a {
    color: #fff;
}
/*content show*/
.content-show{
    margin-left: 110px;
}
.img-show {
    width: 100%;
}
.h100 {
    height: 100%;
}
.box-left {
    margin: 5px 0;
    border: 1px gray;
    border-style: dashed;
}
.cursor-move {
    cursor: move;
}
/*right section*/
.right-section {

}
.menu-option {
    height: auto;
}
.small-menu li{
    padding: 10px;
}
.inner-box {
    position: relative;
    margin-top: 50px;
}
.box-hidden {
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    border: 2px dotted darkgray;
    /*z-index: -9999;*/
}
.img-handle {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    z-index: 10;
}
.text-handle {
    z-index: 111;
}
.no-padding {
    padding: 0;
}
.border-box {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    z-index: 11;
}
.th-resize {
    position: absolute;
}

.th-resize:before {
    position: absolute;
    content: '';
    background: #3f4652;
    width: 10px;
    height: 10px;
    left: 0px;
    right: 0px;
    top: 0px;
    border: 2px solid #fff;
    border-radius: 10px;
    transition: background .15s linear;
    box-shadow: 0 0 3px 1px rgba(0,0,0,.15);
}
.resize-n {
    top: -10px;
    left: 50%;
    cursor: n-resize;
}

.resize-ne {
    top: -10px;
    right: 0px;
    cursor: ne-resize;
}

.resize-e {
    right: 0px;
    top: 50%;
    cursor: e-resize;
}

.resize-se {
    right: 0px;
    bottom: 0px;
    cursor: se-resize;
}

.resize-s {
    bottom: 0px;
    right: 50%;
    cursor: s-resize;
}

.resize-sw {
    left: -10px;
    bottom: 0px;
    cursor: sw-resize;
}

.resize-w {
    left: -10px;
    bottom: 50%;
    cursor: w-resize;
}

.resize-nw {
    left: -10px;
    top: -10px;
    cursor: nw-resize;
}
.th-rotate-handle {
    position: absolute;
    right: 0;
    top: 30%;
    z-index: 90;
}
.th-rotate-handle:before {
    content: '';
    position: absolute;
    right: -20px;
    width: 20px;
    height: 0px;
    border-top: 1px dashed #3f4652;
    background-color: #fff;
}
.th-rotate-handle:after {
    content: '\f0e2';
    position: absolute;
    top: -7px;
    left: 19px;
}
.type-3 {
    width: 50%;
    float: left;
}
.img-width-3 {
    width: 100px;
}
.hide-work {
    position: relative;
    height: 100%;
    /*z-index: 9999;*/
    background-color: #fff;
}
.top-work {
    height: auto;
}

.opacity-slider {
    position: absolute;
    width: 100px;
    background-color: red;
}
.position-box {
    top: 0;
    left: 0;
}
.btn-toolbar {
    margin-left: 50px;
}
.editor {
    display: inline-block;
    z-index: 22;
    -ms-word-break: break-all;
    word-break: break-all;;
}